@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import 'tailwindcss';

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-deep-pink: #c92c93;
  --clr-neon-pink: #f4207b;
  --clr-crimson: #ff2c9c;
  --clr-midnight: #31297d;
  --clr-blurple: #48307f;

  --font-gilroy: 'Gilroy Bold', sans-serif;
  --font-plex: 'IBM Plex Mono', monospace;
  --swiper-pagination-bullet-width: 21px !important;
  --swiper-pagination-bullet-height: 21px !important;
  --swiper-pagination-color: #fff !important;
  --swiper-pagination-bullet-inactive-color: #fff !important;
  --swiper-pagination-bottom: 60px !important;
}

.swiper-pagination {
  text-align: left !important;
  left: 60px !important;
}

@media (max-width: 768px) {
  :root {
    --swiper-pagination-bottom: 20px !important;
  }
  .swiper-pagination {
    left: 30px !important;
  }
}
